<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/document.css">
</head>
<body>
    <div>
        <h1>Metro History Demo</h1>
    </div>
    <div id="main"></div>
    <footer>
        <a href="https://github.com/Uahh/MetroHistory" target="_blank">⭐️GitHub</a>
    </footer>

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=3.0&ak=y5CUKIxtygzHI211l1UGoZ8R9SNMdNWO"></script>
    <script type="text/javascript" src="../static/js/Shanghai_Metro.js"></script>
</body>
</html>