<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    <script src="http://api.map.baidu.com/getscript?v=3.0&ak=y5CUKIxtygzHI211l1UGoZ8R9SNMdNWO"></script>
</head>

<body style="height: 90%; margin: 0">
    <div id="header" style="background-color:#FFA500;">
        <h1 style="margin-bottom:0;">Comic Map</h1>
    </div>
    <div id="main" style="background-color:#EEEEEE;height:100%;width:100%;"></div>
    <script type="text/javascript" src="../static/js/develop.js">

    </script>
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
    </div>
</body>

</html>