<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=3.0&ak=y5CUKIxtygzHI211l1UGoZ8R9SNMdNWO"></script>
</head>

<body style="height: 90%;background: #A9A9A9">
    <div style="background-color:#A9A9A9;">
        <h1>
            <style type="text/css">
                h1{margin-bottom:0;padding-bottom:0;margin-top:0}
            </style>
            Metro History Demo
        </h1>
        <a href="https://github.com/Uahh/MetroHistory" target="_blank">⭐️https://github.com/Uahh/MetroHistory</a>
    </div>
    <div id="main" style="height:100%;width:100%;"></div>
    <script type="text/javascript" src="../static/js/Shanghai_Metro.js">
    </script>
    <footer>
        <p>
            <a href="https://github.com/Uahh/slscq" target="_blank">⭐️GitHub.com/Uahh/slscq</a>
        </p>
        <p>
            <small>原始版本</small> <a href="https://github.com/Uahh">@Uahh</a>
            <span class="hr"></span>
            <small>网页版本</small> <a href="https://weibo.com/reiove">@卜卜口</a>
        </p>
    </footer>
</body>

</html>